<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.highradius.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Add</servlet-name>
    <servlet-class>com.highradius.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Selected</servlet-name>
    <servlet-class>com.highradius.Selected</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Selected</servlet-name>
    <url-pattern>/Selected</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvancedSearch</servlet-name>
    <servlet-class>com.highradius.AdvancedSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvancedSearch</servlet-name>
    <url-pattern>/AdvancedSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Defa</display-name>
    <servlet-name>Defa</servlet-name>
    <servlet-class>com.highradius.Defa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Defa</servlet-name>
    <url-pattern>/Defa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Refresh</display-name>
    <servlet-name>Refresh</servlet-name>
    <servlet-class>com.highradius.Refresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refresh</servlet-name>
    <url-pattern>/Refresh</url-pattern>
  </servlet-mapping>
</web-app>